html{
    background-color: #b1cefc;
}

.project-box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-img{
    padding:1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
    width:60vw;
    height:60vh;


}

.frame{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.frame img{
    height:400px;
    width:600px;
}


.prj-el img{
    height:310px;
    width: 450px;
    margin-bottom: 5rem;

}

.previous,
.next{
    text-align: center;
    padding: 0.3rem;
    height: 3rem;
    width:3rem;
    font: 2rem "Montserrat", sans-serif;
    color:aliceblue;
    background-color: dodgerblue;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 7px 10px rgba(0,0,0,0.2);
}


.previous:hover,
.next:hover {
    background-color: #A8D0E6;
    filter: brightness(90%);
    color: aliceblue;
    transition: box-shadow 0.15s, background-color 0.05s;
}


.prj-el{
    padding-top: 2rem;
    display: none;

}


.info{
    background-color: dodgerblue;
    height:fit-content;
    width: 40vw;
    border-radius: 10px;
    -webkit-box-shadow: -20px 14px 101px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: -20px 14px 101px -25px rgba(0,0,0,0.75);
    box-shadow: -20px 14px 101px -25px rgba(0,0,0,0.75);
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-prj{
    text-align: center;
    font: 0.9rem "Montserrat", sans-serif;
    display: none;
    -webkit-animation: fade 1.5s;
    animation: fade 1.5s;

}

.icon{
    display: flex;
    justify-content: space-evenly;
}

.icon img{
    width:7rem;
    height:2rem;

}


.active{
    display: block;
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media (max-width:52rem) and (max-height: 52rem) and (orientation: landscape) {
    .previous,
    .next{
        font-size: 1.5rem;
        height:2rem;
        margin:15rem 1rem 0 1rem;
        border-radius: 50%;
        box-shadow: none;
    }

    .project-box{
        display: flex;
        flex-direction: column;
    }


    .project-img{
        background-color: #b1cefc;
        height: 100rem;
        margin-top:15rem;
        box-shadow: none;
        border-bottom: 0.05rem solid black;
    }

    .frame{
        display: none;
    }

    .prj-el img{
        width:80vw;
        height: 70vh;
        animation: none;
        margin-top:20rem;
    }

    .info{
        background-color: transparent;
        box-shadow: none;
        width:100vw;
        height: 100vh;
    }

    .info-prj{
        width: 100vw;
    }

    .info-prj p{
        padding: 1rem;
        font: 1rem "Montserrat",sans-serif;
    }



}


@media (max-width:52rem) and (max-height: 52rem) and (orientation: portrait) {



    .previous,
    .next{
        margin-top:5rem;
        width:0.8rem;
        height:1rem;
        font-size: 0.5rem;
        border-radius: 15px;
        box-shadow: none;
    }

    .project-box{
        display: flex;
        flex-direction: column;
        margin-top:1rem;
        height:100%;
    }

    .project-img{
        background-color: #b1cefc;
        width: 100vw;
        height: 70vh;
        box-shadow: none;
        border-bottom: 0.05rem solid black;
    }

    .prj-el img{
        width:80vw;
        height: 45vh;
        animation: none;
        margin-top:10rem;
    }

    .info{
        background-color: transparent;
        box-shadow: none;
        width:100vw;
        height: 100vh;
    }

    .info-prj{
        width: 100vw;
    }

    .info-prj p{
        padding: 1rem;
        font: 1rem "Montserrat",sans-serif;
    }






}


@media (min-width: 41rem) and (max-width: 86rem)  and (orientation: portrait){

    .previous,
    .next{
        width:5rem;
        border-radius: 50%;
        box-shadow: none;
    }

    .project-box{
        display: flex;
        flex-direction: column;
        background-color: dodgerblue;
        height: 100%;
    }

    .project-img{
        margin-top:10rem;
        background-color: transparent;
        width: 100% ;
        box-shadow: none;
        border:none;

    }

    .prj-el img{
        width:75vw;
        height: 50vh;
        animation: none;
        vertical-align: bottom;
    }

    .info{
        height: fit-content;
        width:100%;
        background-color: #A8D0E6;
    }

    .info-prj{
        width: 100vw;
        font-size: 1.3rem;
    }

    .info-prj p{
        padding: 1rem;
    }

    .icon img{
        height:3rem;
    }






}

@media (min-width: 41rem) and (max-width: 86rem)  and (orientation: landscape){
    .previous,
    .next{
        margin: 0 1rem;
    }

    .info{
        height: 85%;
        margin-top: 3rem;
    }

    .info h1{
        font-size: 1rem;
    }
}






